this is an outline notebook- sections are suggested steps, but more or less steps can be followed to reach your end goal

# Regression problem -  predicting real estate prices in USD


#### Background: 
You are working as an analyst for a real estate company. Your company wants to build a machine learning model to predict the selling prices of houses based on a variety of features on which the value of the house is evaluated.

#### Objective: 
The task is to build a model that will predict the price of a house based on features provided in the dataset. The senior management also wants to explore the characteristics of the houses which have the greatest impact on price, eg. understanding which factors are responsible for the highest property values - USD650K and above. 

#### Data: 
The data set consists of information on some 22,000 properties.  The dataset consisted of historic data for houses sold between May 2014 to May 2015. 

#### Definitions 
These are the definitions of data variables provided: (Note: For some of the variables that are self explanatory, no definition has been provided)

+ Id: Unique identification number for the property.
+ date: date the house was sold.
+ price: price of the house.
+ waterfront: house which has a view to a waterfront.
+ condition: How good the condition is (overall). 1 indicates worn out property and 5 excellent.
+ view: does the property have a view? and of what quality?
+ grade: Overall grade given to the housing unit, based on King County grading system. 1 poor ,13 excellent.
+ Sqft_above: square footage of house apart from basement.
+ Sqft_living15: Living room area in 2015(implies - some renovations). This might or might not have affected the lotsize area.
+ Sqft_lot15: lotSize area in 2015(implies - some renovations).

#### Exploring the data
We encourage you to thoroughly understand your data and take the necessary steps to prepare your data for modeling before building exploratory or predictive models. 
To explore the data, you can use the techniques such as data profiling packages, Tableau ad hoc analysis, or any other EDA method including describe, info, sumna, using matplotlib and seaborn for distribution and correlation visualisations.

The data has a number of categorical and numerical variables. Explore the nature of data for these variables before you start with the data cleaning process and then proceed to data pre-processing (scaling numerical variables and encoding categorical variables). 

#### Model
You may use different models to compare the accuracies and find the model that best fits your data. Since this is a regression problem (predicting a value), you can use linear regression, KNN, tree based regression models. You can use the measures of accuracies that have been discussed in class. 

Please note that while comparing different models, make sure you use the same measure of accuracy as a benchmark and the appropriate metrics for that model- see the sklearn documentation for details.

### import libraries

In [33]:
#numpy and pandas, matplotlib and seaborn, scipy, sklearn model and metrics 

import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

### read data as a pandas data frame, preview top 10 rows

In [4]:
df = pd.read_excel('/Users/jenniferdersjant/downloads/real_estate_withheaders.xls')

In [5]:
df.head(10)

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,2014-10-13,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,2014-12-09,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2015-02-25,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,2014-12-09,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2015-02-18,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000
5,7237550310,2014-05-12,4,4.50,5420,101930,1.0,0,0,3,...,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,1230000
6,1321400060,2014-06-27,3,2.25,1715,6819,2.0,0,0,3,...,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,257500
7,2008000270,2015-01-15,3,1.50,1060,9711,1.0,0,0,3,...,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,291850
8,2414600126,2015-04-15,3,1.00,1780,7470,1.0,0,0,3,...,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,229500
9,3793500160,2015-03-12,3,2.50,1890,6560,2.0,0,0,3,...,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,323000

### EDA - exploratory data analysis - get to know the data 

We are particularly keen to understand the data types (and if those data types are appropriate), if there are any null, 0 or missing values, if the meaning of each feature is clear and the data is all clean and usable, if any new useful features could be created - such as creating buckets of values from columns, what relationships can we perceive between features, do we have any duplicates (check the ID column), if any outliers seem unreasonable/extreme and could be removed, if any columns might reasonably be dropped

Note down every identified cleaning, wrangling or pre processing task that could be attempted at this stage or later in your notebook

In [27]:
import pandas_profiling

In [7]:
df.shape

(21597, 21)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  datetime64[ns]
 2   bedrooms       21597 non-null  int64
 3   bathrooms      21597 non-null  float64
 4   sqft_living    21597 non-null  int64
 5   sqft_lot       21597 non-null  int64
 6   floors         21597 non-null  float64
 7   waterfront     21597 non-null  int64
 8   view           21597 non-null  int64
 9   condition      21597 non-null  int64
 10  grade          21597 non-null  int64
 11  sqft_above     21597 non-null  int64
 12  sqft_basement  21597 non-null  int64
 13  yr_built       21597 non-null  int64
 14  yr_renovated   21597 non-null  int64
 15  zipcode        21597 non-null  int64
 16  lat            21597 non-null  float64
 17  long           21597 non-null  float64
 18  sqft_living15  21597 non-null  int64
 19  sqft_lot15     21597 non-null  int64
 20  price          21597 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(16)
memory usage: 3.5 MB

In [10]:
df.describe()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
count,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000,2.159700e+04
mean,4.580474e+09,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007547,0.234292,3.409825,7.657915,1788.596842,291.725008,1970.999676,84.464787,98077.951845,47.560093,-122.213982,1986.620318,12758.283512,5.402966e+05
std,2.876736e+09,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086549,0.766390,0.650546,1.173200,827.759761,442.667800,29.375234,401.821438,53.513072,0.138552,0.140724,685.230472,27274.441950,3.673681e+05
min,1.000102e+06,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000,7.800000e+04
25%,2.123049e+09,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000,3.220000e+05
50%,3.904930e+09,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000,4.500000e+05
75%,7.308900e+09,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000,6.450000e+05
max,9.900000e+09,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000,7.700000e+06

In [11]:
df.duplicated().sum() # full row is duplicated

0

In [12]:
df['id'].value_counts()

795000620     3
1568100300    2
2892700041    2
1450100390    2
3395040550    2
             ..
2595650170    1
7212651100    1
9808700025    1
6772200055    1
2424410110    1
Name: id, Length: 21420, dtype: int64

In [13]:
df[df['id'] == 795000620  ]

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
17588,795000620,2014-09-24,3,1.0,1080,6250,1.0,0,0,2,...,1080,0,1950,0,98168,47.5045,-122.33,1070,6250,115000
17589,795000620,2014-12-15,3,1.0,1080,6250,1.0,0,0,2,...,1080,0,1950,0,98168,47.5045,-122.33,1070,6250,124000
17590,795000620,2015-03-11,3,1.0,1080,6250,1.0,0,0,2,...,1080,0,1950,0,98168,47.5045,-122.33,1070,6250,157000

In [23]:
#are there any duplicates where the id is same and date of sale is same 
duplicateRowsDF = df[df.duplicated(['id', 'date'])]

In [24]:
duplicateRowsDF.head()

Empty DataFrame
Columns: [id, date, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15, price]
Index: []

[0 rows x 21 columns]

In [25]:
#dates being duplicated 
df['date'].min()

Timestamp('2014-05-02 00:00:00')

In [17]:
df['date'].max()

Timestamp('2015-05-27 00:00:00')

In [14]:
df['condition'].unique()

array([3, 5, 4, 1, 2])

In [15]:
df[df['bedrooms']== 33]

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
15856,2402100895,2014-06-25,33,1.75,1620,6000,1.0,0,0,5,...,1040,580,1947,0,98103,47.6878,-122.331,1330,4700,640000

In [16]:
df['bedrooms'].unique()

array([ 3,  2,  4,  5,  1,  6,  7,  8,  9, 11, 10, 33])

In [18]:
df[df['bathrooms'] == 8]

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
7245,6762700020,2014-10-13,6,8.0,12050,27600,2.5,0,3,4,...,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800,7700000
12764,1225069038,2014-05-05,7,8.0,13540,307752,3.0,0,4,3,...,9410,4130,1999,0,98053,47.6675,-121.986,4850,217800,2280000

In [28]:
df.profile_report()

AttributeError: 'DataFrame' object has no attribute 'profile_report'

### histograms or boxplots

1) identify how much rescaling might be needed and if any outliers or skewing will be a problem, per every numerical column. Remember that linear regression doesnt perform well with highly skewed data so normalisation method would be needed. 

2) bar charts for each categorical column to see the range and spread of that data too - remembering that linear regression requires all numeric data points for the training data set, we would have to later use OHE / get_dummies to convert categories. If we have too many unique values, is there a rationale for grouping them and therefore saving redundant columns?

In [37]:
df.hist(figsize=(18,15), bins='auto');

### Check for multicollinearity 

depending on the model chosen, multicollinearity can impact the accuracy of the model algoritm by giving too much importance to similar features. Reduce this risk by creating the correlation matrix, consider dropping any one of two very similar numerical features, judging by their correlation score (spearmans or pearsons)

In [35]:
fig, ax = plt.subplots(figsize=(15,15))

mask=np.zeros_like(df.corr())

mask[np.triu_indices_from(mask)]=True

sns.heatmap(df.corr(), mask=mask, annot=True, cmap='coolwarm', center=0)

plt.show()

<ipython-input-35-b68c4414ab33>:9: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

### Clean and wrangling steps

#### List here any cleaning or wrangling steps to return to on a second iteration of your model 


+ Drop date, id, lst, long
+ Change price into logaritmic scale
+ Drop square foot above because of high multicollinearity
+ Change bedroom/bathroom values to rounded mean/two

In [43]:
df=df.drop(columns=['date','id', 'lat', 'long', 'sqft_above'], axis=1)

In [44]:
bedroom_mean = round(df['bedrooms'].mean(), 0)
bedroom_mean

3.0

In [45]:
df.loc[df['bedrooms'] == 33.0, 'bedrooms'] = bedroom_mean
df.loc[df['bedrooms'] == 11.0, 'bedrooms'] = bedroom_mean
df.loc[df['bedrooms'] == 10.0, 'bedrooms'] = bedroom_mean
df.loc[df['bedrooms'] == 9.0, 'bedrooms'] = bedroom_mean
df.loc[df['bedrooms'] == 0, 'bedrooms'] = bedroom_mean
df.loc[df['bathrooms'] == 0, 'bathrooms'] = 2

In [76]:
df1 = df

In [77]:
 def log_transform_clean(x):
    x = np.log(x)
    if np.isfinite(x):
        return x
    else:
        return np.NAN

df1['price'] = list(map(log_transform_clean, df1['price']))

### split off the dependant variable (label)

In [78]:
X=df1.drop(columns=['price']) # X is all other columns 
y=df1['price']

In [79]:
X.shape

(21597, 15)

In [80]:
y.shape

(21597,)

### Pre processing - iteration 1

+ the minimum requirements here depend on the model chosen. ie, for linear regression you must label / encode any categorical (object type) columns, nulls must also have been eliminated at this stage - as the model only works with numbers. 

at this stage it is possible to proceed to your baseline (worst case) model

---- 
OR 

+ you can consider applying a scaling method for the numerical features
+ this is best applied after dealing with any extreme outlier values

In [81]:
df1.head(10)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_basement,yr_built,renovated,zipcode,sqft_living15,sqft_lot15,price
0,3.0,1.00,1180,5650,1.0,0,0,3,7,0,1955,0,98178,1340,5650,2.510410
1,3.0,2.25,2570,7242,2.0,0,0,3,7,400,1951,1,98125,1690,7639,2.579884
2,2.0,1.00,770,10000,1.0,0,0,3,6,0,1933,0,98028,2720,8062,2.493264
3,4.0,3.00,1960,5000,1.0,0,0,5,7,910,1965,0,98136,1360,5000,2.588616
4,3.0,2.00,1680,8080,1.0,0,0,3,8,0,1987,0,98074,1800,7503,2.575826
5,4.0,4.50,5420,101930,1.0,0,0,3,11,1530,2001,0,98053,4760,101930,2.640665
6,3.0,2.25,1715,6819,2.0,0,0,3,7,0,1995,0,98003,2238,6819,2.522425
7,3.0,1.50,1060,9711,1.0,0,0,3,7,0,1963,0,98198,1650,9711,2.532426
8,3.0,1.00,1780,7470,1.0,0,0,3,7,730,1960,0,98146,1780,8113,2.513142
9,3.0,2.50,1890,6560,2.0,0,0,3,7,0,2003,0,98038,2390,7570,2.540452

### import the chosen model

In [56]:
from sklearn.linear_model import LinearRegression

In [57]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score 
import math

In [58]:
ln=LinearRegression()

### train test split - select a % test data set and set your random seed

In [82]:
from sklearn.model_selection import train_test_split

In [83]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2, random_state=40)

### apply model and train model

In [84]:
model=ln.fit(X_train,y_train)

In [85]:
y_pred =ln.predict(X_test)

In [86]:
y_pred

array([2.52713592, 2.54393314, 2.6375845 , ..., 2.56198189, 2.59888498,
       2.57108444])

### evaluate accuracy against test dataset

In [87]:
r2_score(y_test, y_pred)

0.6512979179947719

In [88]:
mean_absolute_error(y_test,y_pred)

0.018913822958334065

#### next steps

+ Consider the accuracy of predictions, especially the Rsquared and MAE (which in this case describes in dollars, how far away from predicting an accurate house price your model is)

+ also think about - is there anything I could return to to improve my model accuracy??

### try to add binary variables

### Pre processing iteration 2 & 3 and ... 

It is best to attempt at least two more experimental rounds of pre processing in order to run the models and compare the results. This time, you could be more selective in your features, do more feature engineering or data wrangling, use a different method for imputing nulls/ dealing with outliers, apply a couple of different scaling method to numerical columns to normalise their distribution or convert numerical features to categories in a logical way

In [66]:
df['yr_renovated'].value_counts(normalize=True).head(10)

0       0.957679
2014    0.004214
2013    0.001713
2003    0.001667
2007    0.001621
2000    0.001621
2005    0.001621
2004    0.001204
1990    0.001158
2006    0.001111
Name: yr_renovated, dtype: float64

In [67]:
df['waterfront'].value_counts(normalize=True).head(10)

0    0.992453
1    0.007547
Name: waterfront, dtype: float64

In [68]:
df['view'].value_counts(normalize=True).head(10)

0    0.901746
2    0.044497
3    0.023614
1    0.015373
4    0.014771
Name: view, dtype: float64

In [69]:
#So, will change all values > 0 in those columns to 1
# this will turn renovated into dichotomous choice flags
df.loc[df['yr_renovated'] > 0, 'yr_renovated'] = 1

# now anything that is not a 1 becomes a 0, just in case we missed something weird
df.loc[df['yr_renovated'] != 1, 'yr_renovated'] = 0

# since we're making it a binary flag, we'll rename yr_renovated to renovated
df.rename(columns={'yr_renovated' : 'renovated'}, inplace=True)

### train test split - select a % test data set and set your random seed

In [70]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2, random_state=40)

### apply model and train model

In [71]:
model=ln.fit(X_train,y_train)

In [72]:
y_pred =ln.predict(X_test)

In [73]:
y_pred

array([ 187838.54876789,  356977.66674838, 1316176.20108944, ...,
        458799.89552014,  852006.75998091,  533630.05555302])

### evaluate accuracy against test dataset

In [74]:
r2_score(y_test, y_pred)

0.6596170888728425

In [75]:
mean_absolute_error(y_test,y_pred)

137375.86531538793

### Compare, visually or in a summary cell, your regression model metrics for each iteration. 

+ Which model and techniques combined worked best?